   @font-face {
    font-family: fl;
    src: url(./fonts/Tektur-Regular.ttf);
   }

   * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: fl, sans-serif;
      color: #d3d2d2;
      background: #a5a5a5;
      background: url(./img/25039-3840x2160-desktop-4k-milky-way-wallpaper-image.jpg);
      background-size: cover;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
    }

    .todo {
      width: 100%;
      max-width: 900px;
      margin: 60px auto;
      padding: 0 20px;
    }

    .todo__title {
      margin-bottom: 25px;
      font-size: 36px;
      text-align: center;
    }

    .todo__form {
      display: flex;
      gap: 10px;
      margin-bottom: 30px;
    }

    .todo__input {
      flex: 1;
      height: 46px;
      padding: 0 15px;
      border-radius: 100px;
      color: #d3d2d2;
    }

    .todo__input:focus {
      border-color: #888;
    }

    .todo__add {
      height: 46px;
      padding: 0 22px;
      border-radius: 100px;
      cursor: pointer;
      color: #d3d2d2;
    }

    .todo-ip{
      background: rgba(255, 255, 255, 0.09);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.9px);
      -webkit-backdrop-filter: blur(6.9px);
      border: 1px solid rgba(255, 255, 255, 0.19);
    }

    .todo__controls {
      display: flex;   
      justify-content: space-around;
      align-items: center;
      gap: 15px;
      margin-bottom: 30px;
    }

    .todo__checkbox {
      width: 20px;
      height: 20px;
    }

    .todo__delete {
      height: 40px;
      padding: 0 18px;
      border-radius: 100px;
      color: #d3d2d2;
      cursor: not-allowed;
    }

    .todo__columns {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin-bottom: 35px;
    }

    .todo__column {
      min-height: 250px;
      padding: 20px;
      border-radius: 16px;
    }

    .todo__column-title {
      font-size: 18px;
      border-radius: 100px;
      color: #d3d2d2;
      padding: 5px;
    }

    .todo__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .todo__item {
      padding: 15px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .todo__task-delete{
      display: flex;
      background-color: #88888857;
      padding: 5px;
      border-radius: 10px;
      color: #d3d2d2;
    }

    .todo__pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    .todo__page {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      background: rgba(255, 255, 255, 0.37);
      color: #d3d2d2;
      text-decoration: none;
      border-radius: 100px;
    }

    .todo__page--active {
      background: rgba(255, 255, 255, 0.09);
      color: #d3d2d2;
    }

    .todo__page--disabled {
      color: #d3d2d2;
      background: rgba(255, 255, 255, 0.233);
      cursor: not-allowed;
    }